@import url("../node_modules/@fortawesome/fontawesome-free/css/all.min.css");
@import url("../node_modules/bootstrap/dist/css/bootstrap.min.css");
* {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; }

.m-xs {
  margin: 0.2rem; }

.m-sm {
  margin: 0.5rem; }

.m-md {
  margin: 1rem; }

.nav {
  background-color: #283e4a;
  display: flex;
  justify-content: center;
  align-items: center; }
  .nav__logo {
    background-size: cover;
    display: inline-block;
    margin-right: 0.5rem;
    background-color: white;
    height: 2rem;
    border-radius: 5px; }
    .nav__logo img {
      width: 1.9rem;
      height: 2rem; }
  .nav__search {
    display: inline-block;
    background-color: #e1e9ee;
    margin-right: 7rem;
    border-radius: 0.2rem; }
    .nav__search i {
      padding-left: 0.5rem;
      color: #283e4a;
      font-size: 0.7rem; }
    .nav__search input {
      background-color: #e1e9ee;
      height: 1.6rem;
      border-style: none;
      width: 15rem;
      border-radius: 0.2rem; }
  .nav__menu {
    display: inline-block;
    margin: 0.3rem; }
    .nav__menu .menu__item {
      list-style: none;
      display: inline-block;
      color: #e1e9ee;
      font-size: 12px;
      padding-right: 1.6rem; }
      .nav__menu .menu__item:hover {
        color: white; }
      .nav__menu .menu__item .arrow {
        display: inline-block; }
      .nav__menu .menu__item .image {
        background-image: url(../images/user.png);
        background-size: cover;
        height: 1.2rem;
        width: 1.2rem;
        border-radius: 50%;
        border-color: #e1e9ee;
        border-style: solid;
        border-width: 0.5px; }
      .nav__menu .menu__item i {
        display: flex;
        font-size: 1.2rem;
        justify-content: center;
        align-self: center;
        margin: auto;
        padding-bottom: 4px;
        color: #e1e9ee; }
        .nav__menu .menu__item i:hover {
          color: #fff; }
      .nav__menu .menu__item span {
        font-size: 10px; }
      .nav__menu .menu__item:last-child {
        padding-left: 10px; }
    .nav__menu:hover {
      cursor: pointer; }
  .nav .border {
    border-right: solid #e1e9ee 0.5px; }

.footer__linksList {
  width: 80%;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  margin-left: 2rem;
  padding: 0rem; }
  .footer__linksList__link {
    color: #AAB3B8;
    margin-left: 1rem; }

.newPostContainer {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: white; }
  .newPostContainer__listIcons {
    padding: 0rem;
    margin: 0rem;
    display: flex;
    list-style-type: none; }
    .newPostContainer__listIcons__icon {
      padding: 1rem;
      border: 1px solid #d9d9d9; }
  .newPostContainer__writeArtical {
    padding: 0.5rem;
    color: #AFAFAF;
    width: 100%;
    border: 1px solid #d9d9d9; }
    .newPostContainer__writeArtical a {
      padding: 0.3rem;
      color: #0073B1; }

.writeIcon {
  padding-left: 1rem;
  color: #727577;
  width: 15rem; }

.card {
  width: 250px;
  height: 400px;
  position: relative;
  font-family: Arial,Tahoma; }
  .card__body {
    background-color: #FFF;
    border-radius: 10px;
    border: 1px solid #DDD;
    text-align: center; }
    .card__body__image {
      background-color: #0097B2;
      border-radius: 5px 5px 0 0; }
      .card__body__image img {
        border-radius: 50%;
        position: relative;
        top: 30px;
        border: 3px solid #FFF;
        width: 3.9rem;
        height: 4rem; }
    .card__body__name {
      margin-top: 50px; }
    .card__body__title {
      font-family: Arial,Tahoma;
      font-size: 13px; }
    .card__body__profile {
      margin-right: 40px;
      font-family: Arial,Tahoma;
      color: #666;
      display: inline; }
    .card__body__numberProfile {
      color: #0097B2; }
    .card__body__connections {
      font-family: Arial,Tahoma;
      margin-right: 100px;
      color: #666;
      display: inline; }
    .card__body__numberConnections {
      color: #0097B2; }

.profile__container__controls__addsection {
  margin-top: -10px;
  margin-right: 5px;
  height: 38px;
  justify-content: center;
  align-self: flex-end;
  padding: 10px;
  border-style: none;
  margin-left: 50%;
  background-color: #0c7fbd;
  color: white;
  font-weight: bold; }
  .profile__container__controls__addsection:hover {
    background-color: #1b5c81; }

.profile__editeAbout__editeContainer__body__button {
  width: 50px;
  height: 38px;
  justify-content: center;
  align-self: flex-end;
  padding: 5px;
  border-style: none;
  margin-left: 91%;
  margin-top: -8px;
  background-color: #0c7fbd;
  color: white;
  display: relative; }
  .profile__editeAbout__editeContainer__body__button:hover {
    background-color: #1b5c81;
    cursor: pointer; }

.profile__container__controls__morebtn {
  height: 38px;
  margin-right: 5px;
  background-color: #e6eaee;
  margin-top: 2px;
  border-style: none;
  border: 1px solid #3b3b3b; }
  .profile__container__controls__morebtn:hover {
    background-color: gray;
    border: 2px solid #3b3b3b; }

.profile__container__controls__editebtn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  justify-content: center;
  background-color: white; }
  .profile__container__controls__editebtn:hover {
    background-color: #9bd1eb; }
  .profile__container__controls__editebtn span i {
    color: #275c99;
    border: 0px solid darkcyan;
    margin: 25%; }

body {
  background-color: #f1f1f1; }

.profile {
  margin-top: 2rem;
  margin-left: 13%;
  width: 62%; }
  .profile__pictures {
    position: relative; }
    .profile__pictures__background {
      width: 100%;
      padding: 0em;
      margin: 0em;
      display: block; }
    .profile__pictures__photo {
      border: 3px solid #f1eeee;
      border-radius: 50%;
      width: 170px;
      margin-top: -85px;
      margin-left: 5%;
      position: absolute;
      z-index: 1; }
  .profile__container {
    background-color: #ffffff;
    height: 215px;
    border: 1px solid #b2b4b6;
    box-shadow: 0.5px 0.5px 5px #888888;
    padding: 0%;
    width: 100%;
    z-index: 0; }
    .profile__container__controls {
      display: flex;
      margin-left: 30%;
      margin-top: 5px; }
    .profile__container__persondetails {
      margin-top: 36px;
      margin-left: 5%; }
      .profile__container__persondetails__contactInfo {
        display: flex; }
        .profile__container__persondetails__contactInfo a {
          text-decoration: none;
          margin-left: 5px; }
  .profile__dropdown {
    display: block;
    width: 178px;
    border: 1px solid gray;
    margin-left: 65%;
    margin-top: -20%; }
    .profile__dropdown ul {
      list-style: none; }
      .profile__dropdown ul li {
        margin-left: 0%; }
        .profile__dropdown ul li a {
          font-size: 1rem;
          text-decoration: none;
          color: #222121; }
  .profile .hidden {
    display: none; }
  .profile__aside {
    position: absolute;
    margin-left: 860px; }
    .profile__aside__picture {
      position: relative;
      margin-top: -350px; }
      .profile__aside__pictureimg {
        width: 100%; }
  .profile__interest {
    width: 100%;
    height: 150px;
    background-color: white;
    border: 1px solid #b2b4b6;
    margin-top: 15px;
    margin-bottom: 15px;
    box-shadow: 0.5px 0.5px 5px #888888; }
  .profile__about {
    width: 100%;
    height: 150px;
    background-color: white;
    border: 1px solid #b2b4b6;
    margin-top: 15px;
    margin-bottom: 15px;
    box-shadow: 0.5px 0.5px 5px #888888; }
    .profile__about__header {
      margin-top: 10px;
      display: flex;
      padding-left: 12px; }
      .profile__about__header .h4 {
        margin: 5px; }
      .profile__about__header__btn {
        margin-left: 700px;
        margin-top: 4px; }
    .profile__about__content {
      margin-left: 12px; }
  .profile__editeAbout {
    width: 100%;
    height: 100%;
    background: rgba(41, 40, 40, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10; }
    .profile__editeAbout__editeContainer {
      width: 700px;
      height: 350px;
      background-color: white;
      border: 1px solid #b2b4b6;
      margin: 80px auto;
      box-shadow: 0.5px 0.5px 5px #888888;
      position: relative;
      z-index: 20; }
      .profile__editeAbout__editeContainer__header {
        display: flex; }
        .profile__editeAbout__editeContainer__header .h5 {
          margin-left: 12px;
          margin-top: 15px;
          padding: 0px; }
        .profile__editeAbout__editeContainer__header__icon {
          margin-left: 560px;
          margin-top: 15px;
          width: 15px; }
          .profile__editeAbout__editeContainer__header__icon .i {
            color: #0c7fbd; }
            .profile__editeAbout__editeContainer__header__icon .i:hover {
              color: #c04444;
              cursor: pointer; }
      .profile__editeAbout__editeContainer__body {
        justify-content: center; }
        .profile__editeAbout__editeContainer__body__text {
          width: 90%;
          height: 150px;
          padding: 12px 20px;
          position: relative;
          border: 1px solid #ccc;
          border-radius: 4px;
          box-sizing: border-box;
          margin-top: 6px;
          margin-bottom: 0px;
          margin-left: 20px;
          max-height: 150px;
          min-height: 150px; }
        .profile__editeAbout__editeContainer__body label {
          margin-left: 20px; }

.homeContainer {
  display: flex;
  height: 80rem;
  justify-content: center; }

.leftContainer {
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: flex-start; }

.rightContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 35%; }
