.profile__editForm {
    &__editFormContainer{
       overflow-y: auto;
       overflow-x: scroll;
       margin-bottom: 25%;
       position: relative;
       
       &__editInput{
       ///////////////put it here Manaaaaaaaaaaaaaaaaaarrrrr/////////
           form{
               border:2px soli red;
           }
            }

    }


    }


