.homeContainer{
    display: flex;
    height: 80rem;
    justify-content: center;
    // margin:0rem 6rem
}
.leftContainer{
    width:35%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}
.rightContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width:35%

}